@import '../../assets/styles/variables.scss';
.button {
    font: 400 16px/19px $primary-fonts;
    background-color: $oxfordBlue;
    border-radius: 5px;
    padding: 10px 20px;
    color: $white;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
    &:hover {
        background-color: $green;
    }
}