@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_extends.scss';

.portfolio {
    &__title {
        @extend %title;
    }
}

.isotope-content {

    &__filter {
        display: flex;
        justify-content: space-between;
        width: 105px;
        cursor: default;
        font: 400 16px/19px $primary-fonts;
        margin-bottom: 20px;

        span {
            cursor: pointer;
        }
    }

    .active {
        color: $green;
    }

    .filter-item {
        display: block;
        position: relative;
        width: 308px;
        height: 190px;
        margin: 0 20px 20px 0;
        overflow: hidden;
        cursor: default;

        &:hover {
            .info-block {
                transform: translate(0, 0);
            }
        }
    }

    .info-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        transform: translate(0, 190px);
        padding: 20px 15px;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 100%, .9);
        transition: transform 0.3s ease-in-out;

        h3 {
            @extend %content-title;
            color: $green;
        }

        a {
            font: 400 14px/16px $primary-fonts;
            color: $green;
            text-decoration: underline;
            width: 100px;
        }
    }

    .code {
        background: url("../../assets/images/card-code.png") 0 0 no-repeat;
        background-size: cover;
    }

    .ui {
        background: url("../../assets/images/card-ui.png") 0 0 no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 600px) {
    .isotope-content {
        .filter-item {
            width: 100%;
            height: 150px;
            margin: 10px 0;
        }

        .info-block {
            padding: 5px 10px;
        }

    }
}