@import './variables.scss';

%title {
    font: 700 25px/30px $primary-fonts;
    color: $green;
    padding: 0 0 40px;
}

%content-title {
    font: 700 16px/19px $primary-fonts;
    color: $oxfordBlue;
}

%content-text {
    font: 400 14px/21px $primary-fonts;
}
