
// Font
$primary-fonts: "Open Sans", sans-serif;

// Main Colors
$midnight:#000614;
$oxfordBlue: #222935;
$green: #26C17E;
$raven: #667081;
$gallery: #EEEEEE;
$white: #FFFFFF;
$black: #000000;
$alto: #DDDDDD;

